
.DS_Store

.hg/
.hgignore
.hgtags

.idea
.coverage
.tox/*
.cache/*

htmlcov/*
bin/*
build/*
include/*
lib/*
local/*

dist/*
venv/*

__pycache__/*

datafactory.egg-info/*

*.pyc
*.pyo


coverage.xml
junit-py*.xml

pip-wheel-metadata
